@page
@model HappyFeetAppWeb.Pages.PrivacidadeModel

@{
    ViewData["Title"] = "Política de Privacidade";
}
<h1>@ViewData["Title"]</h1>

<br />
<p>
    Na nossa empresa, valorizamos a privacidade dos nossos clientes e estamos comprometidos em proteger suas informações pessoais. Esta política de privacidade descreve como coletamos, usamos e
    protegemos as informações que você nos fornece ao visitar nosso site.
</p>

<h5>Informações coletadas</h5>
<p>
    Coletamos informações pessoais que você nos fornece voluntariamente, como nome, endereço de e-mail, número de telefone, endereço de correspondência e informações de pagamento.
    Também podemos coletar informações de navegação, como endereço IP, tipo de navegador, páginas visitadas e tempo gasto no nosso site.
</p>

<h5>Uso das informações</h5>
<p>
    Usamos as informações coletadas para processar pedidos, fornecer suporte ao cliente, enviar informações sobre nossos produtos e serviços, personalizar sua experiência de compra e
    melhorar nosso site. Também podemos usar suas informações para fins de marketing, desde que você tenha dado consentimento para isso.
</p>

<h5>Divulgação de informações</h5>
<p>
    Não compartilhamos suas informações pessoais com terceiros, exceto quando necessário para processar pedidos, fornecer suporte ao cliente ou cumprir obrigações legais.
    Também podemos compartilhar informações anônimas ou agregadas para fins de análise de dados e marketing.
</p>

<h5>Segurança das informações</h5>
<p>
    Tomamos medidas de segurança para proteger suas informações pessoais contra acesso não autorizado, alteração, divulgação ou destruição. Usamos tecnologias de criptografia e
    armazenamos suas informações em servidores seguros.
</p>

<h5>Cookies</h5>
<p>
    Usamos cookies para melhorar sua experiência de navegação em nosso site. Os cookies são pequenos arquivos de texto que são armazenados em seu navegador e nos permitem reconhecer seu
    dispositivo e lembrar suas preferências. Você pode optar por desativar os cookies em seu navegador, mas isso pode afetar a funcionalidade do nosso site.
</p>

<h5>Alterações na política de privacidade</h5>
<p>
    Podemos atualizar esta política de privacidade de tempos em tempos. Quaisquer alterações serão publicadas em nosso site e entrarão em vigor imediatamente.
</p>

<p>
    Agradecemos por visitar nossa página web e por considerar nossos produtos. Se você tiver alguma dúvida ou preocupação sobre nossa política de privacidade, entre em contato conosco.
    Estamos comprometidos em proteger suas informações pessoais e em fornecer uma experiência de compra segura e satisfatória.
</p>

