@page
@model HappyFeetAppWeb.Pages.QuemSomosModel
@{
    ViewData["Title"] = "Quem Somos";
}
<h1>@ViewData["Title"]</h1>


<div class="row justify-content-md-center">
    <div class-"col-8 p-5">
        <h3>Bem-vindo à Happy Feet</h3>
        <br />
        <h5>Nossa História</h5>
        <p>
            <img class="ing fluid float-end p-3" src="/Images/logo0.jpeg" style="max-width:500px" />
            Somos uma empresa especializada na venda de chinelos e pantufas confortáveis no Brasil.
            Há anos, temos o prazer de oferecer aos nossos clientes produtos de alta qualidade que combinam estilo, conforto e durabilidade.
        </p>
        <h5>Nosso Compromisso</h5>
        <p>
            Nossa missão é proporcionar o máximo de conforto para os seus pés, sem comprometer o estilo.
            Trabalhamos apenas com materiais de primeira qualidade, garantindo que nossos produtos sejam macios, acolhedores e duradouros.
            Além disso, nossa equipe de design está sempre em busca das últimas tendências da moda para oferecer opções modernas e elegantes.
        </p>
        <p>
            Acreditamos que o conforto não deve ser sacrificado em nome da moda, e é por isso que nos esforçamos para oferecer produtos que proporcionem a sensação de estar nas nuvens.
            Nossos chinelos e pantufas são projetados para se adaptarem perfeitamente aos seus pés, proporcionando o máximo de conforto em cada passo.
            Além disso, estamos comprometidos com práticas de produção sustentáveis e responsáveis socialmente.
        </p>
        <h5>Visite-nos</h5>
        <p>
            Nosso catálogo inclui uma ampla variedade de chinelos e pantufas para todos os gostos e idades.
            Desde modelos clássicos e básicos até opções mais ousadas e divertidas, temos certeza de que você encontrará o par perfeito para você ou para presentear alguém
            especial. Além disso, estamos comprometidos com a satisfação total dos nossos clientes. Nossa equipe de atendimento ao cliente está sempre pronta para ajudar e garantir que
            você tenha uma experiência de compra tranquila e satisfatória. Estamos aqui para responder a todas as suas perguntas e oferecer orientação especializada,
            para que você faça a escolha certa.
        </p>
        <br />
        <p>
            Agradecemos por visitar nossa página web e por considerar nossos produtos. Esperamos que você encontre exatamente o que procura e que nossos chinelos e pantufas
            proporcionem o máximo de conforto e estilo para os seus pés. Não hesite em entrar em contato conosco se tiver alguma dúvida ou precisar de assistência.
            Estamos ansiosos para atendê-lo!
        </p>

    </div>
</div>